# Puerto del servidor (Cloud Run inyecta PORT automáticamente)
PORT=8080

# Entorno ('development' o 'production')
NODE_ENV=development

# ID de tu proyecto en Google Cloud
GCP_PROJECT_ID=vida-ministerio-villa-concha

# Opcional: Ruta al archivo JSON de credenciales para desarrollo local fuera de Google Cloud
# GOOGLE_APPLICATION_CREDENTIALS=./service-account-key.json

# Hash SHA-256 del PIN de administrador
ADMIN_PIN_HASH=79404babda0441a8756da8dc02bae87094fd393739678ccd7f36f90127f651b8
